@import '../../../styles/settings.scss';

.root {
    margin: 30px 10px;
    max-width: 100%;
    overflow: hidden;
    
    .iconWrapper {
        position: absolute;
        left: 85%;
        top: 50%;
        transform: translateY(-50%);
    }

    .button {
        width: 100%;
    }

    .bulbColor {
        position: absolute;
        height: 1.5rem;
        margin-left: 10px;
        width: 100px;
        display: inline-block;
    }

}